.footer {
    background-color: #2d6a4f;
    padding: 40px 20px;
    color: white;
    text-align: center;
    font-family: "Alegreya Sans SC", sans-serif;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  